form {
    margin: 0 auto;
    width: 30%;
    /* margin-bottom: 50px; */
}

.field {
    margin: 7px 0;
    box-shadow: 10px 10px 7px #000000;
    height: 50px;
    border-radius: 25px;
    border-color: #000000;
}

#message {
    height: 200px;
}

#submit {


    background-color: #fff;
    border-radius: 25px;
}

.inputfile-box {
    position: relative;
}

.inputfile {
    display: none;
}

.border-box {
    box-sizing: content-box;
}

.file-box {
    border-radius: 25px;
    opacity: 0;
    display: inline-block;
    width: auto;
    border: 1px solid;
    padding: 1px 2px 5px 5px;
    box-sizing: border-box;
    height: calc(2rem - 2px);
    color: #fff;
}

.file-button {
    /* background: red;
    padding: 0px;
    position: re;
    border: 1px solid;
    border-radius: 25px; */
    color: #fff
}

.file-button:hover {
    color: blue;
}

@media only screen and (max-width: 600px) {
    form {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    form {
        width: 55%;
    }
}
