.img-thumbnail {
    background-color: transparent;
    border: transparent;
    transition: 1.5s;
    padding-top: 5%;
}

.img-thumbnail:hover {
    transform: scale(1.2);
}

#text-padding {
    text-indent: 20px;
}

h1,
h2,
p,
dl,
dt,
dd {
    color: rgb(255, 255, 255);
    font-style: normal;
    text-shadow: 10px 10px 7px #000000;
}

h1 {
    font-size: 350% !important;
}

body {
    background-color: black;
}

[data-scroll] {
    transition: opacity 1s;
}

[data-scroll="in"] {
    transition: 3s;
    transition-delay: 0.5;
    transform: translateY(0);
    opacity: 1;
}

[data-scroll="out"] {
    transition: 1s;
    transition-delay: 0.5;
    transform: translateY(0);
    opacity: 0;
}

video {
   filter: blur(5px);
}

#background-video {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0, auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.3;
    z-index: -100;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    padding-top: 0.1rem;
    padding-bottom: 0.3125rem;
    margin-right: 1.3rem;
    margin-left: 1rem;
}

@media only screen and (min-width: 600px) {
    .vid-mobi {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .vid-pc {
        display: none;
    }
}

#padding-div {
    margin: 0, auto;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.btn {
    font-weight: 1000;
}

* {
    font-weight: 1000;
}

.btn {
    box-shadow: 10px 10px 7px #000000;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: black;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#bannerimage {
    background-image: url('../img/accept_request.png');
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

#bg-gfi{
    margin: 0, auto;
}

hr{
    color: white;
}
