* {
    font-weight: 1000 !important;
}

.img-thumbnail {
    background-color: transparent;
    border: transparent;
    transition: 1.5s;
    padding-top: 5%;
}

.img-thumbnail:hover {
    transform: scale(1.2);
}

#text-padding {
    text-indent: 20px;
}

h1,
h2,
p,
dl,
dt,
dd {
    color: rgb(255, 255, 255);
    font-style: normal;
    text-shadow: 10px 10px 7px #000000;
}

dd {
    text-align: justify;
}

h1 {
    font-size: 350% !important;
}

body {
    background-color: black;
}

[data-scroll] {
    transition: opacity 1s;
}

[data-scroll="in"] {
    transition: 3s;
    transition-delay: 0.5;
    transform: translateY(0);
    opacity: 1;
}

[data-scroll="out"] {
    transition: 1s;
    transition-delay: 0.5;
    transform: translateY(0);
    opacity: 0;
}

video {
    filter: blur(5px);
}

#background-video {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0, auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.3;
    z-index: -100;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    padding-top: 0.1rem;
    padding-bottom: 0.3125rem;
    margin-right: 1.3rem;
    margin-left: 1rem;
}

@media only screen and (min-width: 601px) {
    .vid-mobi {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .vid-pc {
        display: none;
    }
}

.main-div {
     padding-top: 15%;
     padding-bottom: 25%;
}

.custom-div {
    margin: 0, auto;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

.btn {
    box-shadow: 10px 10px 7px #000000;
    font-weight: 1000;
    border-color: white;
    border-width: 5px;
    color: white;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: black;
    background-image: url("../img/form_bg.png");
    color: white;
    text-shadow: 10px 10px 7px black;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: black;
    background-image: url("../img/form_bg.png");
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

hr {
    color: white;
}

@media only screen and (max-width: 600px) {
    .custom-div {
        padding-top: 20%;
        padding-bottom: 40%;
    }
    
    .main-div{
        padding-top: 30%;
        padding-bottom: 150%;
    }
}

.dropdown:hover .dropdown-menu {
    background-color: #000000;
    display: block;
    margin-top: 0; 
    border-radius:10px ;
 }

 ul.dropdown-menu > li > a{
    color: white;
 }


 ul.dropdown-menu > li > a:hover{
    color: black;
    background: white !important;
    border-radius:10px ;
}

table{
    --bs-table-bg: rgba(0, 0, 0, 0.2) !important;
}
